/* Default styles */

body {
    background-color: cadetblue;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: Vibur;
    margin: 10px 10px 10px 10px;
    font-size: 80px;
}

h4 {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 800;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
    font-size: 1.1em;
}

.blank {
    background-color: cadetblue;
    color: cadetblue;

}