/* Default styles */

body {
    background-color: cadetblue;
    color: whitesmoke;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}

h4 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: darkslategrey;
}

.margin {
    margin: 10px 10px 10px 10px;

}